google-generativeai
streamlit>=1.31.0
langchain>=0.1.10
langchain-core>=0.1.24
langchain-community>=0.0.25
langchain-experimental>=0.0.45
langchain-openai>=0.0.8
sqlite-utils>=3.35.0
sqlalchemy>=2.0.0
uuid